<form action="/Usuario/Adiciona" method="post">
    <h3 class="mt-3">Adicionar Usuário</h3>

    <label class="mt-3" for="nome">Login:</label>
    <input name="usuario.Nome" id="nome" class="form-control" />

    <label class="mt-3" for="senha">Senha:</label>
    <input name="usuario.Senha" type="password" id="senha" class="form-control" />

    <div class="row justify-content-center">
        <input type="submit" value="Cadastrar" class="btn btn-primary mt-3 mr-auto ml-auto" />
    </div>
</form>
