<div class="mt-4">
    <h2>Bem-vindo(a) à MaxBiblioteca!</h2>
    <h5>Utilize a barra de navegação acima ou os ícones abaixo para acessar as funcionalidades!</h5>

    <div class="row mt-5" style="text-align: center;">
        <div class="col-4">
            <a href="/Livros" style="text-decoration: none;">
                <i style="font-size:70px;" class="fas fa-book"></i>
            </a>
            <h5>Lista de Livros</h5>
        </div>
        <div class="col-4">
            <a href="/Usuarios">
                <i style="font-size:70px;" class="fas fa-users"></i>
            </a>
            <h5>Lista de Usuários</h5>
        </div>
        <div class="col-4">
            <a href="/Reservas">
                <i style="font-size:70px;" class="fas fa-list-ul"></i>
            </a>
            <h5>Lista de Reservas</h5>
        </div>
    </div>
</div>